{% extends "base.html" %}

{% block title %}Authentication{% endblock %}

{% block appcontent %}

{% if form.errors %}
  <div class="alert alert-danger mt-5 text-center" role="alert">
      Your username and password didn't match. Please try again.
  </div>
{% endif %}


<div class="container pkih-login-form">
  <div class="content">
    <h1>Authentication</h1>
  </div>
  <form method="POST" action="{% url 'login' %}" id="{{ form_id }}" onsubmit="submit_ajax_form('{{ form_id }}'); return false;">
    {% csrf_token %}
    {{ form }}
    <div class="control">
      <button class="button is-primary">Login</button>
    </div>

  </form>
</div>

{% endblock appcontent %}
