<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/global/css/bulma-0.9.4.min.css">
    <link rel="stylesheet" type="text/css" href="/static/global/css/global.css">
    <script src="/static/global/js/jquery-3.6.1.min.js"></script>
    <script src="/static/global/js/global.js"></script>
    <title>{% block title %}{% endblock %} — PKI Heart</title>
  </head>
  <body>
  <nav class="level pkih-top-navbar">
    <!-- Left side -->
    <div class="level-left">
      <a class="navbar-item pkih-navbar-brand" href="/ca">PKI H<span class="pkih-em">e</span>art</a>
    </div>
    <!-- Right side -->
    <div class="level-right">
      {% if user.is_authenticated %}
      <div class="dropdown">
        <div class="dropdown-trigger">
          <button class="button">
            <span>{{ user.username }} ▽</span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="/accounts/profile" class="dropdown-item">
              Profile
            </a>
            <a class="dropdown-item" onclick="do_logout('{{ csrf_token }}'); return false;">
              Logout
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </nav>

{% block appcontent %}
{% endblock appcontent %}
  <div id="global-modal-overlay" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box" id="global-modal-overlay-content"></div>
    </div>
  </div>
  </body>
</html>

