{% extends "camanager/cabase.html" %}

{% block title %}CA manager{% endblock %}

{% block camanagercontent %}
<div>
  <nav class="breadcrumb">
    <ul>
      <li class="is-active"><a>Certification Authorities</a></li>
    </ul>
  </nav>
</div>

<div>
  <a href="{% url 'authorities' %}/create" class="button is-primary is-small"><strong>New CA</strong></a>
  <button class="button is-danger is-small" onclick="grid_delete_selected('autorities-grid')"><strong>Delete selected</strong></button>
</div>

<div class="content">
  <table class="table is-striped is-fullwidth" id="autorities-grid" data-url="{% url 'delete_authority' %}" data-csrf-token="{{ csrf_token }}">
    {% for x in authorities %}
    <tr>
      <td><input type="checkbox" value="{{ x.id }}"> <a href="{% url 'show_authority' x.id %}">{{ x.name }}</a></td>
      {# <td><a href="{% url 'authorities' %}/create" class="button is-small is-red">delete</a></td> #}
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
