{% extends "camanager/cabase.html" %}

{% block title %}Edit authority{% endblock %}

{% block camanagercontent %}
<div>
  <nav class="breadcrumb">
    <ul>
      <li><a href="{% url 'authorities' %}">Certification Authorities</a></li>
      <li><a href="{% url 'show_authority' authority.id %}">{{ authority.name }}</a></li>
      <li class="is-active"><a>Edit authority</a></li>
    </ul>
  </nav>
</div>

<div class="content">
  <form method="POST" action="{% url 'edit_authority' authority.id %}" id="{{ form_id }}" onsubmit="submit_ajax_form('{{ form_id }}'); return false;">
    {% csrf_token %}
    {{ form }}
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light">Cancel</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
