{% extends "camanager/cabase.html" %}

{% block title %}Certificate{% endblock %}

{% block camanagercontent %}
<div>
  <nav class="breadcrumb">
    <ul>
      <li><a href="{% url 'authorities' %}">Certification Authorities</a></li>
      <li><a href="{% url 'show_authority' authority.id %}">{{ authority.name }}</a></li>
      <li class="is-active"><a>CA Certificate</a></li>
    </ul>
  </nav>
</div>

<div class="content">
  <h3>{{ certificate.name }}</h3>
  <div class="pkih-buttons-bar">
    <a href="{% url 'edit_authority_ca_cert' authority.id certificate.id %}" class="button is-primary is-small"><strong>Edit certificate</strong></a>
  </div>
{% if certificate.description %}
  <div class="notification">
  <p>{{ certificate.description }}</p>
  </div>
{% endif %}
{% if certificate.allow_issue %}
  <div class="notification"><span class="icon has-text-success"><i class="fas fa-certificate"></i></span> This certificate can be used to issue client certificates. You can change this by editing certificate and unchecking field <i>Allow issuing new client certificates</i>.</div>
{% else %}
  <div class="notification is-warning is-light"><span class="icon"><i class="fas fa-certificate"></i></span> This certificate CANNOT be used to issue client certificates. You can change this by editing certificate and checking field <i>Allow issuing new client certificates</i>.</div>
{% endif %}
</div>

{% endblock %}
